[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
uvicorn = "*"
pydantic-settings = "*"
psycopg2 = "*"
python-dotenv = "*"
langchain = "*"
langchain-openai = "*"
langchain-community = "*"
langchain-google-vertexai = "*"
langchain-pinecone = "*"
pypdf = "*"
httpx = "*"
langchain-postgres = "*"
psycopg = {extras = ["binary"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
